/* ----Screen size up to 575px---- */
@media screen and (max-width: 575px) {
    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    /* ----Navbar Section---- */
    nav .container {
        flex-direction: column;
        padding: 10px 0;
        row-gap: 20px;
    }

    .nav-options {
        gap: 10px;
    }

    nav ul li {
        font-size: 13px;
    }


    /* ----Banner Section---- */
    #banner {
        padding-bottom: 150px;
    }
    #banner .section-title {
        font-size: 36px;
    }

    #banner .section-description {
        font-size: 14px;
    }

    #banner .wrapper {
        column-gap: 10px;
        justify-content: center;
    }

    #banner input {
        font-size: 16px;
        padding: 14px 40px;
        background-size: 16px;
        background-position: 15px 15px;
    }

    #banner button {
        width: 48px;
        height: 48px;
    }

    /* ----Feature Section---- */
    #featured-destination {
        margin-top: 80px;
    }

    #featured-destination .destination-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    #featured-destination .section-info h3 {
        font-size: 20px;
    }

    #featured-destination .section-title {
        margin-top: 16px;
        font-size: 30px;
    }

    #featured-destination .section-description {
        font-size: 16px;
        margin-top: 14px;
    }

    #featured-destination .section-video img {
        width: 100%;
    }

    #featured-destination .play-button {
        width: 56px;
        height: 56px;
    }

    #featured-destination .travel-location {
        flex-direction: column;
        align-items: start;
        gap: 30px;
        margin-top: 80px;
        padding: 20px 40px;
    }

    .travel-location .one h3 {
        font-size: 24px;
    }

    .travel-location .two {
        display: none;
    }

    .travel-location .three h1 {
        font-size: 40px;
    }

    .travel-location .four button {
        font-size: 20px;
        padding: 14px 36px;
    }

    /* ----Package Section---- */
    #package .section-title {
        font-size: 36px;
    }

    #package .section-description {
        font-size: 16px;
    }

    .package-wrapper {
        flex-direction: column;
    }
}


/* ----Screen size up to 767px---- */
@media screen and (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 85%;
        margin: 0 auto;
    }

    /* ----Navbar Section---- */
    nav .container {
        flex-direction: column;
        padding: 10px 0;
        row-gap: 20px;
    }

    .nav-options {
        gap: 16px;
    }

    nav ul li {
        font-size: 15px;
    }

    /* ----Banner Section---- */
    #banner .section-title {
        font-size: 40px;
    }

    #banner .section-description {
        font-size: 16px;
    }

    #banner .wrapper {
        column-gap: 16px;
        justify-content: center;
    }

    #banner input {
        font-size: 18px;
        padding: 14px 50px;
        background-size: 18px;
        background-position: 15px 15px;
    }

    #banner button {
        width: 48px;
        height: 48px;
    }

    /* ----Feature Section---- */
    #featured-destination {
        margin-top: 80px;
    }

    #featured-destination .destination-wrapper {
        flex-direction: column;
        align-items: start;
        gap: 30px;
    }

    #featured-destination .section-info h3 {
        font-size: 24px;
    }

    #featured-destination .section-title {
        margin-top: 16px;
        font-size: 36px;
    }

    #featured-destination .section-description {
        font-size: 18px;
        margin-top: 14px;
    }

    #featured-destination .section-video {
        width: 100%;
    }

    #featured-destination .section-video img {
        width: 100%;
    }

    #featured-destination .play-button {
        width: 64px;
        height: 64px;
    }

    #featured-destination .travel-location {
        flex-direction: column;
        align-items: start;
        gap: 30px;
        margin-top: 80px;
        padding: 20px 40px;
    }

    .travel-location .one h3 {
        font-size: 24px;
    }

    .travel-location .two {
        display: none;
    }

    .travel-location .three h1 {
        font-size: 40px;
    }

    .travel-location .four button {
        font-size: 20px;
        padding: 14px 36px;
    }

    /* ----Package Section---- */
    #package .section-title {
        font-size: 40px;
    }

    #package .section-description {
        font-size: 18px;
    }

    .package-wrapper {
        flex-direction: column;
    }
}


/* ----Screen size up to 991px---- */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    /* ----Navbar Section---- */
    .nav-options {
        gap: 18px;
    }

    nav ul li {
        font-size: 13px;
    }

    /* ----Banner Section---- */
    #banner .section-title {
        font-size: 50px;
    }

    #banner .section-description {
        font-size: 18px;
    }

    #banner .wrapper {
        column-gap: 16px;
        justify-content: center;
    }

    #banner input {
        font-size: 20px;
        padding: 14px 80px;
        background-size: 22px;
        background-position: 40px 15px;
    }

    #banner button {
        width: 48px;
        height: 48px;
    }


    /* ----Feature Section---- */
    #featured-destination {
        margin-top: 80px;
    }

    #featured-destination .destination-wrapper {
        gap: 30px;
    }

    #featured-destination .section-info {
        width: 49%;
    }

    #featured-destination .section-info h3 {
        font-size: 20px;
    }

    #featured-destination .section-title {
        margin-top: 16px;
        font-size: 30px;
    }

    #featured-destination .section-description {
        font-size: 16px;
        margin-top: 14px;
    }

    #featured-destination .section-video {
        width: 49%;
    }

    #featured-destination .section-video img {
        width: 100%;
    }

    #featured-destination .play-button {
        width: 64px;
        height: 64px;
    }

    #featured-destination .travel-location {
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin-top: 80px;
        padding: 20px 40px;
    }

    .travel-location .one h3 {
        font-size: 20px;
    }

    .travel-location .three h1 {
        font-size: 40px;
    }

    .travel-location .four button {
        font-size: 18px;
        padding: 14px 10px;
    }


    /* ----Package Section---- */
    #package .section-title {
        font-size: 50px;
    }

    #package .section-description {
        font-size: 20px;
    }

    .package-wrapper {
        flex-direction: column;
    }
}


/* ----Screen size up to 1199px---- */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 80%;
        margin: 0 auto;
    }

    /* ----Navbar Section---- */

    nav ul li {
        font-size: 13px;
    }

    /* ----Banner Section---- */
    #banner .section-title {
        font-size: 64px;
    }

    #banner .section-description {
        font-size: 19px;
    }

    #banner .wrapper {
        column-gap: 16px;
    }

    #banner input {
        font-size: 20px;
        padding: 14px 80px;
        background-size: 22px;
        background-position: 40px 15px;
    }

    #banner button {
        width: 48px;
        height: 48px;
    }


    /* ----Feature Section---- */
    #featured-destination {
        margin-top: 80px;
    }

    #featured-destination .destination-wrapper {
        gap: 30px;
    }

    #featured-destination .section-info {
        width: 49%;
    }

    #featured-destination .section-info h3 {
        font-size: 20px;
    }

    #featured-destination .section-title {
        margin-top: 16px;
        font-size: 36px;
    }

    #featured-destination .section-description {
        font-size: 17px;
        margin-top: 14px;
    }

    #featured-destination .section-video {
        width: 49%;
    }

    #featured-destination .section-video img {
        width: 100%;
    }

    #featured-destination .play-button {
        width: 64px;
        height: 64px;
    }

    #featured-destination .travel-location {
        align-items: center;
        gap: 30px;
        margin-top: 80px;
        padding: 20px 40px;
    }

    .travel-location .one h3 {
        font-size: 24px;
    }

    .travel-location .three h1 {
        font-size: 40px;
    }

    .travel-location .four button {
        font-size: 18px;
        padding: 14px 20px;
    }


    /* ----Package Section---- */
    #package .section-title {
        font-size: 36px;
    }

    #package .section-description {
        font-size: 16px;
    }

    .package-item  {
        width: 33%;
        padding-left: 16px;
        padding-right: 16px;
    }

    .package-item .title {
        font-size: 24px;
    }

    .package-item .price {
        font-size: 40px;
    }

    .package-item .btn-container {
        width: 100%;
        left: 15%;
    }
}