* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
}

ul, ol {
    list-style: none;
}

/* ---Navbar--- */
nav {
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    top: 35px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.nav-options {
    display: flex;
    gap: 48px;
}

nav ul li {
    font-size: 15px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #036E8A;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav .icon-parent {
    border: 1px solid #036E8A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    text-decoration: none;
}

.icon-parent i {
    font-size: 10px;
    color: #036E8A;
}

/* ---Banner Section--- */
#banner {
    background: url("../images//banner_image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 260px;
    padding-bottom: 200px;
}

.banner-wrapper {
    max-width: 778px;
    margin: 0 auto;
}

#banner .section-title {
    color: #fff;
    font-size: 89px;
    font-weight: 700;
}

#banner .section-description {
    color: #fff;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 45px;
}

#banner .wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

#banner input {
    color: #036E8A;
    font-size: 20px;
    padding: 17px 120px 16px 90px;
    background: url("../images/search.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 24px 13px;
    border: 0;
    border: 1px solid #036E8A;
    border-radius: 12px;
}

#banner input::placeholder {
    color: #036E8A;
}

#banner button {
    background: #FF8000;
    display: inline-block;
    width: 58px;
    height: 58px;
    border: 1px solid white;
    border-radius: 50%;
}

/* ---Featured Destination Section--- */
#featured-destination {
    margin-top: 147px;
}

#featured-destination .section-info {
    max-width: 560px;
}

#featured-destination .destination-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#featured-destination .section-info h3 {
    font-size: 30px;
    font-weight: 400;
}

#featured-destination .section-title {
    font-size: 55px;
    font-weight: 700;
    color: #036E8A;
    margin-top: 31px;
}

#featured-destination .section-description {
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
}

#featured-destination .section-video {
    position: relative;
}

#featured-destination .play-button {
    width: 72px;
    height: 72px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#featured-destination .play-button i {
    font-size: 20px;
    color: #036E8A;
}

#featured-destination .travel-location {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #036E8A;
    border-radius: 8px;
    padding: 54px 64px 66px 64px;
    margin-top: 147px;
}

.travel-location .one h3 {
    font-size: 30px;
    font-weight: 700;
    color: #036E8A;
    margin-bottom: 14px;
}

.travel-location .one i {
    color: #FF8000;
}

.travel-location .one i:last-child {
    opacity: 0.5;
}

.travel-location .two {
    width: 3px;
    height: 96px;
    background-color: #FF8000;
}

.travel-location .three h5 {
    font-size: 20px;
    font-weight: 400;
}

.travel-location .three h1 {
    font-size: 60px;
    font-weight: 700;
    color: #036E8A;
}

.travel-location .four button {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    background: #FF8000;
    border: 0;
    border-radius: 10px;
    padding: 16px 45px;
}

/* ---Special Package Section--- */
#package {
    margin-top: 90px;
}

#package .section-title {
    font-size: 60px;
    font-weight: 700;
    color: #036E8A;
    text-align: center;
    margin-bottom: 25px;
}

#package .section-description {
    font-size: 20px;
    max-width: 830px;
    margin: 0 auto;
    text-align: center;
}

.package-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.package-wrapper .premium .title {
    color: #FF8000;
}

.package-wrapper .premium .price {
    color: #FF8000;
}

.package-wrapper .premium .expiry {
    color: #FF8000;
}

.package-wrapper .premium ul li i {
    color: #FF8000;
}

.package-wrapper .premium button {
    background: #FF8000;
}

.package-item {
    width: 357px;
    padding: 36.5px 36.5px 76px 36.5px;
    margin-top: 90px;
    border: 1px solid #036E8A;
    border-radius: 12px;
    position: relative;
}

.package-item .title {
    font-size: 40px;
    font-weight: 700;
    color: #036E8A;
}

.package-item .price {
    font-size: 60px;
    font-weight: 700;
    color: #036E8A;
}

.package-item .expiry {
    font-size: 25px;
    font-weight: 400;
    color: #036E8A;
    margin-top: 6px;
    margin-bottom: 39px;
}

.package-item ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.package-item ul li {
    display: flex;
    align-items: center;
    gap: 13px;
}

.package-item ul .disable {
    opacity: 0.5;
}

.package-item ul li i {
    font-size: 18px;
    color: #036E8A;
}

.package-item ul li span {
    font-size: 18px;
}

.package-item .btn-container {
    position: absolute;
    /* width: 100%; */
    bottom: -58px;
    left: 80px;
}

.package-item button {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background: #036E8A;
    padding: 13px 27px;
    border: 0;
    border-radius: 17px;
}

.package-item .btn-container p {
    margin-top: 16px;
    font-size: 20px;
}

/* ---Featured Destination - 2 Section--- */
#featured2 {
    margin-top: 114px;
    padding: 69px 0 69px 0;
    background-color: #036E8A;
}

#featured2 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.featured-info {
    width: 563px;
    color: #fff;
}

.featured-info h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

.featured-info .featured-title {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
}

.featured-info .featured-description {
    font-size: 20px;
}

/* ---Most Destinations Section--- */
#most-destinations {
    margin-top: 111px;
}

#most-destinations .destination-title {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #036E8A;
    margin-bottom: 23px;
}

#most-destinations .destination-description {
    width: 830px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

#most-destinations .image-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 106px;
    margin-bottom: 112px;
}

/* ----Counter Section---- */
#information {
    background: url("../images/info-background-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 120px;
}

#information .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#information .container div h2 {
    font-size: 55px;
    font-weight: 700;
    color: #707070;
}

#information .container div h4 {
    font-size: 30px;
    font-weight: 400;
    color: #707070;
}

/* ---Newsletter Section--- */
#newsletter {
    margin-top: 97px;
}

#newsletter .image-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.newsletter-wrapper {
    display: flex;
    align-items: center;
    gap: 68px;
}

.newsletter-wrapper .info h3 {
    font-size: 30px;
    font-weight: 400;
    color: #036E8A;
    margin-bottom: 30px;
}

.newsletter-wrapper .info h2 {
    font-size: 55px;
    font-weight: 700;
    color: #036E8A;
    margin-bottom: 45px;
}

.newsletter-wrapper .subscribe input {
    padding: 27px 0px 27px 108px;
    font-size: 20px;
    border: 1px solid #036E8A;
    border-radius: 14px;
    background: url("../images/mail-icon.png");
    background-repeat: no-repeat;
    background-position: 58.5px 28px;
}

.newsletter-wrapper .subscribe input::placeholder {
    color: #036E8A;
}

.newsletter-wrapper .subscribe button {
    background: #FF8000;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 20px 38px;
    border: 0;
    border-radius: 14px;
}

.newsletter-wrapper .subscribe button:hover {
    cursor: pointer;
}


/* ---Brands Section--- */
#brand {
    margin-top: 130px;
}

#brand .container {
    border: 3px solid #036E8A;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 70px 0 70px 0;
}

#brand .divider {
    width: 3px;
    height: 73px;
    background: #036E8A;
    border-radius: 2px;
}

/* ---Testimonials Section--- */
#testimonials {
    margin-top: 120px;
}

#testimonials .testimonials-title {
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    color: #036E8A;
    margin-bottom: 23px;
}

#testimonials .testimonials-description {
    font-size: 20px;
    text-align: center;
    max-width: 830px;
    margin: 0 auto;
}

#testimonials .card-wrapper {
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 75px;
}

#testimonials .card {
    width: 538px;
    /* height: 400px; */
    /* border: 2px solid #036E8A; */
    padding: 40px 57px 38px 59px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    transition: all 0.3s;
}

#testimonials .card:nth-child(odd):hover {
    background: #036E8A;
    color: #fff;
}

#testimonials .card:nth-child(odd):hover h2 {
    color: #fff;
}

#testimonials .card:nth-child(odd):hover .rating i {
    color: #fff;
}

#testimonials .card:nth-child(even):hover {
    background: #FF8000;
    color: #fff;
}

#testimonials .card:nth-child(even):hover h2 {
    color: #fff;
}

#testimonials .card:nth-child(even):hover .rating i {
    color: #fff;
}

#testimonials .card .profile-image {
    text-align: center;
    margin-bottom: 26px;
}

#testimonials .card .information {
    text-align: center;
}

#testimonials .card .information h2 {
    font-size: 25px;
    font-weight: 500;
    color: #036E8A;
}

#testimonials .card .information h3 {
    color: 262525;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 7.5px;
}

#testimonials .card .information .rating i {
    color: #FF8000;
}

#testimonials .card .description {
    font-size: 20px;
    max-width: 420px;
    text-align: center;
    margin-top: 21.5px;
    line-height: 27px;
}