* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1148px;
    margin: 0 auto;
}

ul, ol {
    list-style: none;
}

/* ---Navbar--- */
nav {
    background-color: white;
    position: absolute;
    left: 0;
    width: 100%;
    top: 35px;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.nav-options {
    display: flex;
    gap: 48px;
}

nav ul li {
    font-size: 15px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #036E8A;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav .icon-parent {
    border: 1px solid #036E8A;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    text-decoration: none;
}

.icon-parent i {
    font-size: 10px;
    color: #036E8A;
}

/* ---Banner Section--- */
#banner {
    background: url("../images//banner_image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 260px;
    padding-bottom: 200px;
}

.banner-wrapper {
    max-width: 778px;
    margin: 0 auto;
}

#banner .section-title {
    color: #fff;
    font-size: 89px;
    font-weight: 700;
}

#banner .section-description {
    color: #fff;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 45px;
}

#banner .wrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

#banner input {
    color: #036E8A;
    font-size: 20px;
    padding: 17px 120px 16px 90px;
    background: url("../images/search.png");
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 24px 13px;
    border: 0;
    border: 1px solid #036E8A;
    border-radius: 12px;
}

#banner input::placeholder {
    color: #036E8A;
}

#banner button {
    background: #FF8000;
    display: inline-block;
    width: 58px;
    height: 58px;
    border: 1px solid white;
    border-radius: 50%;
}